<!-- section footer -->

<footer class="main-footer">
  <div class="footer-overlay container py-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
        <div class="footer-body">
          <img
            src="../../assets/images/logo.png"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-easing="ease-in-sine"
            class="img-fluid mb-4"
            alt="logo"
          />
          <p
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-easing="ease-in-sine"
          >
            Etiam suscipit fringilla ullamcorper sed malesuada urna nec odio.
          </p>
          <div
            class="d-flex mt-4"
            data-aos="fade-up-right"
            data-aos-duration="1000"
            data-aos-easing="ease-in-sine"
          >
            <div class="flex-shrink-0">
              <img src="../../assets/images/clock-2.png" alt="clock-2" />
            </div>
            <div class="flex-grow-1 ms-4">
              <div class="time-start">
                <span class="text-white">Monday - Friday</span>
                <span>7:00Am - 10:00Pm</span>
              </div>
              <div class="time-start mt-3">
                <span class="text-white">Saturday - Sunday</span>
                <span>7:00Am - 2:00Pm</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
        <div class="footer-links">
          <h4 data-aos="fade-down" data-aos-duration="1000">our links</h4>
          <ul class="list-unstyled d-flex flex-column mt-4">
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1100">
              <a routerLink="/home">home</a>
            </li>
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1200">
              <a routerLink="/about">about us</a>
            </li>
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1300">
              <a routerLink="/classes">classes</a>
            </li>
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1400">
              <a routerLink="/blog">blog</a>
            </li>
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1500">
              <a routerLink="/contact">contact us</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
        <div class="footer-contact">
          <h4 data-aos="fade-down" data-aos-duration="1000">contact us</h4>
          <ul class="list-unstyled mt-4">
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1100">
              <div class="d-flex align-items-center contact-body">
                <div class="flex-shrink-0 icons">
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="flex-grow-1 ms-4">
                  <span
                    >1247/Plot No. 39, 15th Phase, Colony, Kukatpally,
                    Hyderabad</span
                  >
                </div>
              </div>
            </li>
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1200">
              <div class="d-flex align-items-center contact-body">
                <div class="flex-shrink-0 icons">
                  <i class="fa-solid fa-phone"></i>
                </div>
                <div class="flex-grow-1 ms-4">
                  <span>1800-121-3637</span>
                  <span>+91 555 234-8765</span>
                </div>
              </div>
            </li>
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1300">
              <div class="d-flex align-items-center contact-body">
                <div class="flex-shrink-0 icons">
                  <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="flex-grow-1 ms-4">
                  <span>info@gmail.com</span>
                  <span>services@gmail.com</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
        <div class="footer-news">
          <h4 data-aos="fade-down" data-aos-duration="1000">our newsletter</h4>
          <div class="my-4 position-relative input-icon">
            <label for="email" class="form-label d-none">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email Address"
              data-aos="fade-left"
              data-aos-duration="1200"
              data-aos-easing="ease-in-sine"
            />
            <button
              class="icon d-flex justify-content-center align-items-center"
              data-aos="fade-right"
              data-aos-duration="1200"
              data-aos-easing="ease-in-sine"
            >
              <i class="fa-solid fa-chevron-right text-white"></i>
            </button>
          </div>
          <ul class="list-unstyled d-flex">
            <li
              class="social-icon"
              data-aos="fade-right"
              data-aos-duration="1300"
              data-aos-easing="ease-in-sine"
            >
              <a href="https://www.facebook.com/profile.php?id=100027514530868">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li class="social-icon" data-aos="fade-up" data-aos-duration="1300">
              <a href="https://www.linkedin.com/in/taha-mahmoud-1913161aa/">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </li>
            <li
              class="social-icon"
              data-aos="fade-left"
              data-aos-duration="1300"
              data-aos-easing="ease-in-sine"
            >
              <a href="https://twitter.com/TaHaM08">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright mt-5">
    <div class="container py-1">
      <div
        class="row align-items-center justify-content-md-center justify-content-sm-center"
      >
        <div class="col-lg-6">
          <div class="copyright">
            <span>
              Copyright © 2022
              <a href="https://portfolio-self-ten-21.vercel.app/">taha</a>
              All rights reserved
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="copyright-links">
            <ul
              class="list-unstyled d-flex justify-content-end align-items-center"
            >
              <li>Privacy Policy</li>
              <li>Team & Condition</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- section footer -->
