<!-- section counter -->

<section class="counter container rounded-3" data-aos="fade-up" data-aos-duration="1000">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="counter-body py-5 px-3">
        <div class="d-flex">
          <div class="flex-shrink-0 pt-3">
            <h4>{{ happyNumber }}</h4>
          </div>
          <div class="flex-grow-1 ms-1">
            <img
              src="../../assets/images/happy-client.png"
              class="img-fluid"
              alt="happy-client"
            />
            <span class="d-block">Happy Clients</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="counter-body py-5 px-3">
        <div class="d-flex">
          <div class="flex-shrink-0 pt-3">
            <h4>{{ totalNumber }}</h4>
          </div>
          <div class="flex-grow-1 ms-1">
            <img
              src="../../assets/images/total-clients.png"
              class="img-fluid"
              alt="total-client"
            />
            <span class="d-block">Total Clients</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="counter-body py-5 px-3">
        <div class="d-flex">
          <div class="flex-shrink-0 pt-3">
            <h4>{{ gymNumber }}</h4>
          </div>
          <div class="flex-grow-1 ms-1">
            <img
              src="../../assets/images/gym-equipment.png"
              class="img-fluid"
              alt="happy-client"
            />
            <span class="d-block">Gym Equipment</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="counter-body py-5 px-3">
        <div class="d-flex">
          <div class="flex-shrink-0 pt-3">
            <h4>{{ cupNumber }}</h4>
          </div>
          <div class="flex-grow-1 ms-1">
            <img
              src="../../assets/images/cup-of-coffee.png"
              class="img-fluid"
              alt="happy-client"
            />
            <span class="d-block">Cup Of Coffee</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section counter -->
