@use "../Scss/utils/color" as *;
@use "../Scss/utils/font" as *;
@use "../Scss/utils/mixins" as *;
@use "../Scss/components/buttons" as *;
@use "../Scss/base/reset" as *;
@use "../Scss/components/secHeader" as *;

/*---------------------------------- header-about -------------------------------------*/

.head-about {
  width: 100%;
  height: 570px;
  @include backGround("../../assets/images/about-in-banner.jpg");

  .about-overlay {
    background-color: $bg-overlay2;
    width: 100%;
    height: 100%;

    .about-body {
      @extend .header-body;
    }
  }
}

/*---------------------------------- header-about -------------------------------------*/

/*---------------------------------- feature-box -------------------------------------*/

.feature-box {
  position: relative;
  top: 8vh;
  .feature-body {
    position: relative;
    padding: 25px;
    background-color: $main-color;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    @include trans(all, 0.4s);
    .bg-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      background-color: $sub-color;
      @include brdr-r(50%);
    }
    h4 {
      color: #000;
      font-size: $font-size1 + 4px;
      font-family: $font-family2;
      font-weight: $font-weight3;
    }
    .txt {
      font-size: 15px;
      font-family: $font-family2;
      color: $text-color2;
    }
    .number {
      position: absolute;
      font-family: "Catamaran", sans-serif;
      font-size: $font-size3 + 10px;
      font-weight: $font-weight2;
      bottom: -25px;
      right: 30px;
      color: #efefef;
    }

    &:hover {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    }
  }
}

/*---------------------------------- feature-box -------------------------------------*/

/*------------------------------------ main-video ---------------------------------- */

.main-video {
  position: relative;
  top: 15vh;
  z-index: 2;
  .video-box {
    background: url("../../assets/images/video-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;

    .video-content {
      width: 100%;
      height: 100%;
      background-color: $bg-overlay;
      color: $main-color;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      h2 {
        font-size: $font-size2 + 20px;
        font-family: $font-family1;
        font-weight: $font-weight3;
        letter-spacing: 2px;
      }
      .play {
        margin: auto;
        width: 80px;
        height: 80px;
        background-color: $primary-color;
        @include brdr-r(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      a {
        color: $main-color;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 2px solid $main-color;
        font-size: $font-size1;
        font-family: $font-family2;
        font-weight: $font-weight1;
        @include trans(all, 0.3s);
        &:hover {
          color: $primary-color;
          border-color: $primary-color;
        }
      }
    }
  }
  .light-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    @include trans(all, 0.4s);
    @include tScale(0, 0);
    z-index: 9999999999;

    .light-screen-small {
      width: 600px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;

      iframe {
        width: 100%;
        height: 100%;
      }
      .cancel {
        position: absolute;
        top: 60px;
        background-color: $second-color;
        color: $main-color;
        padding: 6px 10px;
        @include brdr-r(4px);
        @extend .defualt;

        i {
          font-size: $font-size1 + 2px;
        }
      }
    }
  }
}

/*------------------------------------ main-video ---------------------------------- */

/*---------------------------------------------- media-query ----------------------------*/

@media (max-width: 768px) and (min-width: 576px) {
  .feature-box {
    .feature-body {
      .bg-img {
        width: 50px;
        height: 50px;
      }
      h4 {
        font-size: 15px;
      }
      .txt {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .head-about {
    .about-body {
      h1 {
        font-size: $font-size3 !important;
      }
    }
  }
}

@media (max-width: 576px) {
  .head-about {
    .about-body {
      h1 {
        font-size: $font-size3 !important;
      }
    }
  }

  /*--------------------------------- main-video------------------------ */
  .main-video {
    .light-screen-small {
      iframe {
        width: 80% !important;
        height: 80% !important;
      }
      .cancel {
        top: 90px !important;
        right: 20px !important;
      }
    }
  }

  /*--------------------------------- main-video------------------------ */
}

@media (max-width: 450px) {
  .head-about {
    .about-body {
      h1 {
        font-size: $font-size2 + 15px !important;
      }
    }
  }

  /*--------------------------------- main-video------------------------ */
  .main-video {
    .light-screen-small {
      iframe {
        width: 90% !important;
        height: 80% !important;
      }
      .cancel {
        top: 110px !important;
        right: 5px !important;
      }
    }
  }

  /*--------------------------------- main-video------------------------ */
}
/*---------------------------------------------- media-query ----------------------------*/
