<!-- section dwonload app -->

<section class="dwonload">
  <div class="overlay container py-5">
    <div class="row py-5">
      <div class="col-lg-6 mb-4">
        <div class="img-app d-flex justify-content-center position-relative">
          <div class="mobile-img">
            <img
              src="../../assets/images/mobile.png"
              data-aos="fade-up"
              data-aos-duration="1600"
              class="img-fluid"
              alt="mobile"
            />
          </div>
          <div class="circle-one">
            <img
              src="../../assets/images/mobile-circle1.png"
              data-aos="fade-up"
              data-aos-duration="1300"
              class="img-fluid"
              alt="mobile-circle1"
            />
          </div>
          <div class="circle-two">
            <img
              src="../../assets/images/mobile-circle2.png"
              data-aos="fade-up"
              data-aos-duration="1600"
              class="img-fluid"
              alt="mobile-circle2"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="app-body pt-5">
          <div class="app-head mb-3">
            <h2
              data-aos="fade-left"
              data-aos-duration="1000"
              data-aos-easing="ease-in-sine"
            >
              dwonload app
            </h2>
            <p data-aos="fade-left" data-aos-duration="1200">
              Get Advice On Gym <br />
              & Fitness App
            </p>
          </div>
          <p class="mb-5" data-aos="fade-up" data-aos-duration="1400">
            Mauris vitae quam tincidunt, sollicitudin sapien nec, tincidunt
            urna. Integer commodo, lorem vel fringilla tincidunt
          </p>
          <div class="store d-flex" data-aos="fade-up" data-aos-duration="1600">
            <div class="d-flex align-items-center me-4 rounded-3 store1">
              <div class="flex-shrink-0">
                <img src="../../assets/images/apple.png" alt="appel" />
              </div>
              <div class="flex-grow-1 ms-4">
                <span>Available on</span>
                <span>APP STORE</span>
              </div>
            </div>
            <div class="d-flex align-items-center me-4 rounded-3 store2">
              <div class="flex-shrink-0">
                <img
                  src="../../assets/images/google-play.png"
                  alt="google-play"
                />
              </div>
              <div class="flex-grow-1 ms-4">
                <span>Available on</span>
                <span>APP STORE</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section dwonload app -->
