<!-- header blog-grid -->

<header class="head-blog">
  <div class="blog-overlay d-flex align-items-center text-white">
    <div class="container blog-body pt-5">
      <h1 class="mt-5" data-aos="fade-up" data-aos-duration="1000">
        blog grid
      </h1>
      <ul
        class="list-unstyled d-flex justify-content-center"
        data-aos="fade-up-right"
        data-aos-duration="1200"
      >
        <li>
          <a routerLink="/home">home</a>
        </li>
        <li>
          <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li>blog grid</li>
      </ul>
    </div>
  </div>
</header>

<!-- header blog-grid -->

<!-- section news -->

<section class="container news py-5">
  <div class="row py-5 justify-content-center">
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-blog">
          <img
            src="../../assets/images/blog1.jpg"
            class="img-fluid full-w rounded-top"
            alt="Class"
          />
          <span>25 AUGUST 2022</span>
        </div>
        <div class="card-content p-4">
          <h3 class="mb-2">Going to the gym for the first time</h3>
          <p class="mb-2">
            Praesent id ipsum pellentesque lectus dapibus condimentum curabitur
            eget risus quam. In hac habitasse platea dictumst.
          </p>
          <a href="#">read more</a>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-down"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-blog">
          <img
            src="../../assets/images/blog2.jpg"
            class="img-fluid full-w rounded-top"
            alt="Class"
          />
          <span>25 AUGUST 2022</span>
        </div>
        <div class="card-content p-4">
          <h3 class="mb-2">Parturient accumsan cacus pulvinar magna</h3>
          <p class="mb-2">
            Praesent id ipsum pellentesque lectus dapibus condimentum curabitur
            eget risus quam. In hac habitasse platea dictumst.
          </p>
          <a href="#">read more</a>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-blog">
          <img
            src="../../assets/images/blog3.jpg"
            class="img-fluid full-w rounded-top"
            alt="Class"
          />
          <span>25 AUGUST 2022</span>
        </div>
        <div class="card-content p-4">
          <h3 class="mb-2">Risus purus namien parturient accumsan cacus</h3>
          <p class="mb-2">
            Praesent id ipsum pellentesque lectus dapibus condimentum curabitur
            eget risus quam. In hac habitasse platea dictumst.
          </p>
          <a href="#">read more</a>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-down-right"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-blog">
          <img
            src="../../assets/images/blog4.jpg"
            class="img-fluid full-w rounded-top"
            alt="Class"
          />
          <span>25 AUGUST 2022</span>
        </div>
        <div class="card-content p-4">
          <h3 class="mb-2">What would be your top tips for making a success</h3>
          <p class="mb-2">
            Praesent id ipsum pellentesque lectus dapibus condimentum curabitur
            eget risus quam. In hac habitasse platea dictumst.
          </p>
          <a href="#">read more</a>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-blog">
          <img
            src="../../assets/images/blog5.jpg"
            class="img-fluid full-w rounded-top"
            alt="Class"
          />
          <span>25 AUGUST 2022</span>
        </div>
        <div class="card-content p-4">
          <h3 class="mb-2">5 Perfect Yoga Learning Tips You Should Know</h3>
          <p class="mb-2">
            Praesent id ipsum pellentesque lectus dapibus condimentum curabitur
            eget risus quam. In hac habitasse platea dictumst.
          </p>
          <a href="#">read more</a>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-down-right"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-blog">
          <img
            src="../../assets/images/blog7.jpg"
            class="img-fluid full-w rounded-top"
            alt="Class"
          />
          <span>25 AUGUST 2022</span>
        </div>
        <div class="card-content p-4">
          <h3 class="mb-2">Secrets To Reduce Multiplayer Mother Than Fast</h3>
          <p class="mb-2">
            Praesent id ipsum pellentesque lectus dapibus condimentum curabitur
            eget risus quam. In hac habitasse platea dictumst.
          </p>
          <a href="#">read more</a>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-blog">
          <img
            src="../../assets/images/blog8.jpg"
            class="img-fluid full-w rounded-top"
            alt="Class"
          />
          <span>25 AUGUST 2022</span>
        </div>
        <div class="card-content p-4">
          <h3 class="mb-2">Yes, You Can Get Dehydrated in Winter</h3>
          <p class="mb-2">
            Praesent id ipsum pellentesque lectus dapibus condimentum curabitur
            eget risus quam. In hac habitasse platea dictumst.
          </p>
          <a href="#">read more</a>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-blog">
          <img
            src="../../assets/images/blog9.jpg"
            class="img-fluid full-w rounded-top"
            alt="Class"
          />
          <span>25 AUGUST 2022</span>
        </div>
        <div class="card-content p-4">
          <h3 class="mb-2">The First Marc Fitness Original. Super</h3>
          <p class="mb-2">
            Praesent id ipsum pellentesque lectus dapibus condimentum curabitur
            eget risus quam. In hac habitasse platea dictumst.
          </p>
          <a href="#">read more</a>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-up-left"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-blog">
          <img
            src="../../assets/images/blog11.jpg"
            class="img-fluid full-w rounded-top"
            alt="Class"
          />
          <span>25 AUGUST 2022</span>
        </div>
        <div class="card-content p-4">
          <h3 class="mb-2">How To Choose A Modern Gym Design 2021</h3>
          <p class="mb-2">
            Praesent id ipsum pellentesque lectus dapibus condimentum curabitur
            eget risus quam. In hac habitasse platea dictumst.
          </p>
          <a href="#">read more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-12 d-flex justify-content-center">
      <div class="blog-pag">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item mx-2">
              <i class="fa-solid fa-chevron-left"></i>
            </li>
            <li class="page-item mx-2 active">1</li>
            <li class="page-item mx-2">2</li>
            <li class="page-item mx-2">3</li>
            <li class="page-item mx-2">
              <i class="fa-solid fa-chevron-right"></i>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

<!-- section news -->
