@use "../../Scss/utils/color" as *;
@use "../../Scss/utils/font" as *;
@use "../../Scss/utils/mixins" as *;
@use "../../Scss/base/reset" as *;
@use "../../Scss/components/secHeader" as *;
@use "../../Scss/components/buttons" as *;

/*---------------------------------- header-team -------------------------------------*/

.head-team {
  width: 100%;
  height: 570px;
  @include backGround("../../../assets/images/team-detail-in-banner.jpg");

  .team-overlay {
    background-color: $bg-overlay2;
    width: 100%;
    height: 100%;

    .team-body {
      @extend .header-body;
      ul {
        width: 300px;
      }
    }
  }
}

/*---------------------------------- header-team -------------------------------------*/

/* ---------------------------------------------- trainer ----------------------------------- */

.trainers {
  .team-box {
    .team-img {
      padding: 15px;
      border: 10px solid #ebebeb;
      border-color: $primary-color;

      img {
        width: 100%;
      }
    }

    .team-info {
      background-color: $primary-color;
      .team-info-box {
        display: flex;
        justify-content: space-around;
        .info-text {
          span {
            display: block;
            font-family: $font-family2;
            font-size: $font-size1 + 2px;
            font-weight: $font-weight1 + 100;
            &:first-child {
              color: #ffbaa8;
            }
            &:last-child {
              color: $main-color;
            }
          }
          .icons {
            div {
              color: $main-color;
              margin-right: 15px;
              cursor: pointer;
              @include trans(color, 0.4s);
              &:hover {
                color: $second-color;
              }
            }
          }
        }
      }
    }
  }

  .team-content {
    .team-head {
      margin-bottom: 40px;
      h2 {
        color: $second-color;
        font-size: $font-size2 + 25px;
        font-family: $font-family1;
        font-weight: $font-weight3;
      }
      span {
        font-size: $font-size1 + 3px;
        font-family: $font-family2;
        color: $primary-color;
        display: block;
        margin-bottom: 15px;
      }
      p {
        color: $text-color2;
        font-family: $font-family2;
      }
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: #d7d7d7;
    }

    .personal-skill {
      h4 {
        color: $second-color;
        text-transform: capitalize;
        font-size: $font-size1 + 6px;
        font-family: $font-family2;
        font-weight: $font-weight2;
        position: relative;
        &::after {
          content: "";
          width: 80px;
          height: 1px;
          background-color: $primary-color;
          position: absolute;
          bottom: -5px;
          left: 0;
        }
      }
      .number {
        width: 90%;
        h6 {
          color: $second-color;
          font-size: $font-size1 + 4px;
          font-family: $font-family1;
          font-weight: $font-weight2;
          text-transform: capitalize;
          letter-spacing: 1px;
        }
      }
      .ranting1 {
        @include rantingStatics(90%, 0%);
        background-color: rgb(253, 61, 12, 0.2);
      }
      .ranting2 {
        @include rantingStatics(90%, 10%);
        background-color: rgb(253, 61, 12, 0.2);
      }
      .ranting3 {
        @include rantingStatics(90%, 20%);
        background-color: rgb(253, 61, 12, 0.2);
      }
    }
    .classes {
      margin-top: 30px;
      h4 {
        color: $second-color;
        text-transform: capitalize;
        font-size: $font-size1 + 6px;
        font-family: $font-family2;
        font-weight: $font-weight2;
        position: relative;
        &::after {
          content: "";
          width: 80px;
          height: 1px;
          background-color: $primary-color;
          position: absolute;
          bottom: -5px;
          left: 0;
        }
      }

      .row {
        .card {
          border: none;
          overflow: hidden;
          &:hover .popup {
            @include tScale(1.05, 1.05);
          }
          .popup {
            cursor: pointer;
            @include trans(all, 0.4s);
          }
          .card-content {
            background-color: $main-color;
            .img-icon {
              border-right: solid 1px #e1e1e1;
              padding: 0px 10px;
            }
            h3 {
              color: $second-color;
              font-size: $font-size1 + 5px;
              font-family: $font-family2;
              font-weight: $font-weight3;
              text-transform: capitalize;
              line-height: 25px;
              cursor: pointer;
              @include trans(all, 0.3s);

              &:hover {
                color: $primary-color;
              }
            }
            p {
              color: $text-color2;
              font-size: 15px;
              font-family: $font-family2;
              padding: 0px 15px 0px 30px;
            }
            .number {
              h6 {
                color: $second-color;
                font-size: 15px;
                font-family: $font-family2;
                font-weight: $font-weight3;
                text-transform: capitalize;
              }
            }

            .ranting1 {
              @include ranting(85%);
            }
            .ranting2 {
              @include ranting(70%);
            }
          }
        }
      }
    }
  }
}

/* ---------------------------------------------- trainer ----------------------------------- */

@media (max-width: 768px) {
  .trainers {
    .team-content {
      padding-left: 0px !important;
      .team-head {
        margin-top: 30px;
      }

      .personal-skill {
        .number {
          width: 100% !important;
        }
        .ranting1 {
          @include rantingStatics(100%, 10%);
          width: 100% !important;
        }
        .ranting2 {
          @include rantingStatics(100%, 20%);
          width: 100% !important;
        }
        .ranting3 {
          @include rantingStatics(100%, 30%);
          width: 100% !important;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .head-team {
    .team-body {
      h1 {
        font-size: $font-size3 !important;
      }
    }
  }

  .trainers {
    .team-content {
      padding-left: 0px !important;
      .team-head {
        margin-top: 30px;
        h2 {
          font-size: $font-size2 + 10px !important;
        }
      }

      .personal-skill {
        .number {
          width: 100% !important;
        }
        .ranting1 {
          @include rantingStatics(100%, 10%);
          width: 100% !important;
        }
        .ranting2 {
          @include rantingStatics(100%, 20%);
          width: 100% !important;
        }
        .ranting3 {
          @include rantingStatics(100%, 30%);
          width: 100% !important;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .head-team {
    .team-body {
      h1 {
        font-size: $font-size2 + 15px !important;
      }
    }
  }

  .trainers {
    .team-content {
      padding-left: 0px !important;
      .team-head {
        margin-top: 30px;
        h2 {
          font-size: $font-size2 + 10px !important;
        }
      }

      .personal-skill {
        .number {
          width: 100% !important;
        }
        .ranting1 {
          @include rantingStatics(100%, 10%);
          width: 100% !important;
        }
        .ranting2 {
          @include rantingStatics(100%, 20%);
          width: 100% !important;
        }
        .ranting3 {
          @include rantingStatics(100%, 30%);
          width: 100% !important;
        }
      }
    }
  }
}
