<!-- header classes -->

<header class="head-team">
  <div class="team-overlay d-flex align-items-center text-white">
    <div class="container team-body pt-5">
      <h1 class="mt-5" data-aos="fade-up" data-aos-duration="1000">
        Kate Johnson
      </h1>
      <ul
        class="list-unstyled d-flex justify-content-center"
        data-aos="fade-up-right"
        data-aos-duration="1200"
      >
        <li>
          <a routerLink="/home">home</a>
        </li>
        <li>
          <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li>
          <a routerLink="/team">team</a>
        </li>
        <li>
          <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li>Kate Johnson</li>
      </ul>
    </div>
  </div>
</header>

<!-- header classes -->

<!-- section team-detail -->

<section class="container trainers py-5">
  <div class="row pt-5">
    <div class="col-lg-4 mb-5">
      <div class="team-box">
        <div
          class="team-img rounded-circle mb-4"
          data-aos="fade-down-right"
          data-aos-duration="1000"
          data-aos-easing="ease-in-sine"
        >
          <img
            src="../../assets/images/trainer2.jpg"
            class="img-fluid rounded-circle"
            alt="Class"
          />
        </div>
        <div
          class="team-info py-4 rounded-4"
          data-aos="fade-up"
          data-aos-duration="1200"
        >
          <div class="team-info-box mb-4">
            <div class="info-text">
              <span>Joining Date:</span>
              <span>7 March, 2016</span>
            </div>
            <div class="info-text">
              <span>Experience:</span>
              <span>6 Years</span>
            </div>
          </div>
          <div class="team-info-box">
            <div class="info-text">
              <span>Training:</span>
              <span>Fitness, Gym</span>
            </div>
            <div class="info-text">
              <span>Experience:</span>
              <div class="icons d-flex">
                <div>
                  <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div>
                  <i class="fa-brands fa-instagram"></i>
                </div>
                <div>
                  <i class="fa-brands fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 mb-4">
      <div class="team-content ps-4">
        <div class="team-head">
          <h2 data-aos="fade-down" data-aos-duration="1000">Kate Johnson</h2>
          <span data-aos="fade-left" data-aos-duration="1100"
            >Fitness Trainer</span
          >
          <p data-aos="fade-up" data-aos-duration="1300">
            Nullam et luctus eros. Nam maximus quam non diam placerat, ac auctor
            mi ullamcorper. Sed vehicula leo a elementum interdum. Ut dignissim
            auctor quam vel eleifend. Phasellus posuere consectetur erat eget
            varius. Aliquam erat volutpat. Quisque ac interdum tellus.
          </p>
        </div>
        <div class="line"></div>
        <div class="personal-skill my-5">
          <h4 class="mb-4" data-aos="fade-up" data-aos-duration="1400">
            personal skills
          </h4>
          <div
            class="mt-5 center"
            data-aos="fade-left"
            data-aos-duration="1400"
          >
            <div class="number d-flex justify-content-between">
              <h6>Weight Lifting</h6>
              <h6>90%</h6>
            </div>
            <div class="ranting1"></div>
          </div>
          <div
            class="mt-5 center"
            data-aos="fade-left"
            data-aos-duration="1500"
          >
            <div class="number d-flex justify-content-between">
              <h6>Fat Loss</h6>
              <h6>80%</h6>
            </div>
            <div class="ranting2"></div>
          </div>
          <div
            class="mt-5 center"
            data-aos="fade-left"
            data-aos-duration="1600"
          >
            <div class="number d-flex justify-content-between">
              <h6>Cardio Training</h6>
              <h6>70%</h6>
            </div>
            <div class="ranting3"></div>
          </div>
        </div>
        <div class="line"></div>
        <div class="classes">
          <h4 data-aos="fade-left" data-aos-duration="1000">my classes</h4>
          <div class="row pt-4">
            <div
              class="col-lg-6 mb-4"
              data-aos="fade-up"
              data-aos-duration="1200"
            >
              <div class="card shadow">
                <img
                  src="../../assets/images/class-img1.jpg"
                  class="img-fluid popup rounded-top"
                  alt="Class"
                />
                <div class="card-content">
                  <div class="d-flex p-4">
                    <div class="flex-shrink-0 pt-2">
                      <img
                        src="../../assets/images/class-icon1.png"
                        alt="icon-woaman"
                        class="img-icon"
                      />
                    </div>
                    <div class="flex-grow-1 ms-4 pt-2">
                      <h3>
                        weight lefting <br />
                        classes
                      </h3>
                    </div>
                  </div>
                  <p>
                    Suspendisse nisi libero, cursus ac magna sit amet, fermentum
                    imperdiet nisi.
                  </p>
                  <div class="number d-flex justify-content-between px-4">
                    <h6>class full</h6>
                    <h6>85%</h6>
                  </div>
                  <div class="ranting1"></div>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 mb-4"
              data-aos="fade-up"
              data-aos-duration="1200"
            >
              <div class="card shadow">
                <img
                  src="../../assets/images/class-img2.jpg"
                  class="img-fluid popup rounded-top"
                  alt="Class"
                />
                <div class="card-content">
                  <div class="d-flex p-4">
                    <div class="flex-shrink-0 pt-2">
                      <img
                        src="../../assets/images/class-icon2.png"
                        alt="icon-woaman"
                        class="img-icon"
                      />
                    </div>
                    <div class="flex-grow-1 ms-4 pt-2">
                      <h3>
                        cardio & strenght <br />
                        classes
                      </h3>
                    </div>
                  </div>
                  <p>
                    Suspendisse nisi libero, cursus ac magna sit amet, fermentum
                    imperdiet nisi.
                  </p>
                  <div class="number d-flex justify-content-between px-4">
                    <h6>class full</h6>
                    <h6>70%</h6>
                  </div>
                  <div class="ranting2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section team-detail -->
