<!-- section main portfolio -->

<section class="container-fluid main-portfolio">
  <div
    class="row"
    data-aos="zoom-out-down"
    data-aos-duration="1500"
    data-aos-easing="ease-in-sine"
  >
    <owl-carousel-o [options]="portfolioOptions">
      <ng-template carouselSlide>
        <div class="portfolio mx-3">
          <img
            src="../../assets/images/portfolio-img1.jpg"
            class="img-fluid"
            alt="portfolio"
          />
          <div class="portfolio-body">
            <p>Weight Loss Program</p>
            <button>
              <h3>Couple Fitness Workout</h3>
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="portfolio mx-3">
          <img
            src="../../assets/images/portfolio-img2.jpg"
            class="img-fluid"
            alt="portfolio"
          />
          <div class="portfolio-body">
            <p>Weight Loss Program</p>
            <button>
              <h3>Couple Fitness Workout</h3>
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="portfolio mx-3">
          <img
            src="../../assets/images/portfolio-img3.jpg"
            class="img-fluid"
            alt="portfolio"
          />
          <div class="portfolio-body">
            <p>Weight Loss Program</p>
            <button>
              <h3>Cardio Workout</h3>
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="portfolio mx-3">
          <img
            src="../../assets/images/portfolio-img4.jpg"
            class="img-fluid"
            alt="portfolio"
          />
          <div class="portfolio-body">
            <p>Weight Loss Program</p>
            <button>
              <h3>Fitness Workout</h3>
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="portfolio mx-3">
          <img
            src="../../assets/images/portfolio-img5.jpg"
            class="img-fluid"
            alt="portfolio"
          />
          <div class="portfolio-body">
            <p>Weight Loss Program</p>
            <button>
              <h3>Couple Fitness Workout</h3>
            </button>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<!-- section main portfolio -->
