<!-- section trainer -->

<section class="trainers container py-5">
  <div class="tainer-header pt-5 mb-2 text-center">
    <h2 data-aos="fade-down" data-aos-duration="1000">best trainer</h2>
    <p data-aos="fade-right" data-aos-duration="1200">
      Our Professional Trainer
    </p>
  </div>
  <div
    class="row pb-5"
    class="row pb-5"
    data-aos="fade-up"
    data-aos-duration="1500"
    data-aos-easing="ease-in-sine"
  >
    <owl-carousel-o [options]="tarinerOptions">
      <ng-template carouselSlide>
        <div class="cards mx-3">
          <div class="team-img rounded-circle">
            <img
              src="../../assets/images/trainer3.jpg"
              class="img-fluid rounded-circle"
              alt="Class"
            />
          </div>

          <div class="team-content text-center mt-4">
            <h4 class="mb-3">John Hard</h4>
            <p class="mb-3">Fitness Trainer</p>
            <div class="trainer-icons d-flex justify-content-center">
              <div class="icons">
                <i class="fa-brands fa-facebook-f"></i>
              </div>
              <div class="icons">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="icons">
                <i class="fa-brands fa-twitter"></i>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="cards mx-3">
          <div class="team-img rounded-circle">
            <img
              src="../../assets/images/trainer2.jpg"
              class="img-fluid rounded-circle"
              alt="Class"
            />
          </div>
          <div class="team-content text-center mt-4">
            <h4 class="mb-3">Kate Johnson</h4>
            <p class="mb-3">Fitness Trainer</p>
            <div class="trainer-icons d-flex justify-content-center">
              <div class="icons">
                <i class="fa-brands fa-facebook-f"></i>
              </div>
              <div class="icons">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="icons">
                <i class="fa-brands fa-twitter"></i>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="cards mx-3">
          <div class="team-img rounded-circle">
            <img
              src="../../assets/images/trainer1.jpg"
              class="img-fluid rounded-circle"
              alt="Class"
            />
          </div>
          <div class="team-content text-center mt-4">
            <h4 class="mb-3">Ruth Edwards</h4>
            <p class="mb-3">Fitness Trainer</p>
            <div class="trainer-icons d-flex justify-content-center">
              <div class="icons">
                <i class="fa-brands fa-facebook-f"></i>
              </div>
              <div class="icons">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="icons">
                <i class="fa-brands fa-twitter"></i>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="cards mx-3">
          <div class="team-img rounded-circle">
            <img
              src="../../assets/images/trainer5.jpg"
              class="img-fluid rounded-circle"
              alt="Class"
            />
          </div>
          <div class="team-content text-center mt-4">
            <h4 class="mb-3">Desert Antony</h4>
            <p class="mb-3">Fitness Trainer</p>
            <div class="trainer-icons d-flex justify-content-center">
              <div class="icons">
                <i class="fa-brands fa-facebook-f"></i>
              </div>
              <div class="icons">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="icons">
                <i class="fa-brands fa-twitter"></i>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<!-- section trainer -->
