$primary-color: #fd3d0c;
$nav-color: #010f2e;
$second-color: #141b22;
$main-color: #fff;
$card-color: #2c3239;
$badge-color: rgb(255, 255, 255, 0.1);
$text-color: #10161b;
$text-color2: #777777;
$text-color3: #8e9bac;
$text-color4: #414549;
$sub-color: rgb(253, 61, 12, 0.1);
$bg-overlay: rgb(20, 27, 34, 0.5);
$testimonial-color: #a4abb3;
$star-color: #ffc107;

$bg-overlay2: rgba(20, 27, 34, 0.8);
