@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

$font-family1: "Catamaran", sans-serif;
$font-family2: "Rubik", sans-serif;

$font-weight1: 500;
$font-weight2: 700;
$font-weight3: 900;

$font-size1: 16px;
$font-size2: 25px;
$font-size3: 55px;
