<!-- header classes -->

<header class="head-team">
  <div class="team-overlay d-flex align-items-center text-white">
    <div class="container team-body pt-5">
      <h1 class="mt-5" data-aos="fade-up" data-aos-duration="1000">our team</h1>
      <ul
        class="list-unstyled d-flex justify-content-center"
        data-aos="fade-up-right"
        data-aos-duration="1200"
      >
        <li>
          <a routerLink="/home">home</a>
        </li>
        <li>
          <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li>team</li>
      </ul>
    </div>
  </div>
</header>

<!-- header classes -->

<!-- section trainers -->

<section class="container trainers py-5">
  <div class="row">
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-4"
      data-aos="fade-down-right"
      data-aos-duration="1000"
      data-aos-easing="ease-in-sine"
    >
      <div class="cards">
        <div class="team-img rounded-circle">
          <img
            src="../../assets/images/trainer3.jpg"
            class="img-fluid rounded-circle"
            alt="Class"
          />
        </div>

        <div class="team-content text-center mt-4">
          <h4 class="mb-3">John Hard</h4>
          <p class="mb-3">Fitness Trainer</p>
          <div class="trainer-icons d-flex justify-content-center">
            <div class="icons">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-4"
      data-aos="fade-down"
      data-aos-duration="1000"
    >
      <div class="cards">
        <div class="team-img rounded-circle">
          <img
            src="../../assets/images/trainer2.jpg"
            class="img-fluid rounded-circle"
            alt="Class"
          />
        </div>
        <div class="team-content text-center mt-4">
          <h4 class="mb-3">Kate Johnson</h4>
          <p class="mb-3">Fitness Trainer</p>
          <div class="trainer-icons d-flex justify-content-center">
            <div class="icons">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-4"
      data-aos="fade-down"
      data-aos-duration="1000"
    >
      <div class="cards">
        <div class="team-img rounded-circle">
          <img
            src="../../assets/images/trainer1.jpg"
            class="img-fluid rounded-circle"
            alt="Class"
          />
        </div>
        <div class="team-content text-center mt-4">
          <h4 class="mb-3">Ruth Edwards</h4>
          <p class="mb-3">Fitness Trainer</p>
          <div class="trainer-icons d-flex justify-content-center">
            <div class="icons">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-4"
      data-aos="fade-down-left"
      data-aos-duration="1000"
      data-aos-easing="ease-in-sine"
    >
      <div class="cards">
        <div class="team-img rounded-circle">
          <img
            src="../../assets/images/trainer5.jpg"
            class="img-fluid rounded-circle"
            alt="Class"
          />
        </div>
        <div class="team-content text-center mt-4">
          <h4 class="mb-3">Desert Antony</h4>
          <p class="mb-3">Fitness Trainer</p>
          <div class="trainer-icons d-flex justify-content-center">
            <div class="icons">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-4"
      data-aos="fade-up-right"
      data-aos-duration="1200"
      data-aos-easing="ease-in-sine"
    >
      <div class="cards">
        <div class="team-img rounded-circle">
          <img
            src="../../assets/images/trainer6.jpg"
            class="img-fluid rounded-circle"
            alt="Class"
          />
        </div>
        <div class="team-content text-center mt-4">
          <h4 class="mb-3">Bruce Bailey</h4>
          <p class="mb-3">Fitness Trainer</p>
          <div class="trainer-icons d-flex justify-content-center">
            <div class="icons">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-4"
      data-aos="fade-up"
      data-aos-duration="1200"
    >
      <div class="cards">
        <div class="team-img rounded-circle">
          <img
            src="../../assets/images/trainer7.jpg"
            class="img-fluid rounded-circle"
            alt="Class"
          />
        </div>
        <div class="team-content text-center mt-4">
          <h4 class="mb-3">Brittany Long</h4>
          <p class="mb-3">Fitness Trainer</p>
          <div class="trainer-icons d-flex justify-content-center">
            <div class="icons">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-4"
      data-aos="fade-up"
      data-aos-duration="1200"
    >
      <div class="cards">
        <div class="team-img rounded-circle">
          <img
            src="../../assets/images/trainer8.jpg"
            class="img-fluid rounded-circle"
            alt="Class"
          />
        </div>
        <div class="team-content text-center mt-4">
          <h4 class="mb-3">Edward Wat</h4>
          <p class="mb-3">Fitness Trainer</p>
          <div class="trainer-icons d-flex justify-content-center">
            <div class="icons">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-4"
      data-aos="fade-up-left"
      data-aos-duration="1200"
      data-aos-easing="ease-in-sine"
    >
      <div class="cards">
        <div class="team-img rounded-circle">
          <img
            src="../../assets/images/trainer2.jpg"
            class="img-fluid rounded-circle"
            alt="Class"
          />
        </div>
        <div class="team-content text-center mt-4">
          <h4 class="mb-3">Desert Antony</h4>
          <p class="mb-3">Fitness Trainer</p>
          <div class="trainer-icons d-flex justify-content-center">
            <div class="icons">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="icons">
              <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section trainers -->

<!-- section dwonload app -->

<app-mobileapp></app-mobileapp>

<!-- section dwonload app -->

<!-- section statics -->

<section class="statics container py-5">
  <div class="row pb-5">
    <div class="col-lg-6 pt-5">
      <div class="statics-body pt-5">
        <div class="body-head pt-5">
          <h2 data-aos="fade-up" data-aos-duration="1000">our statics</h2>
          <p
            data-aos="fade-right"
            data-aos-duration="1200"
            data-aos-easing="ease-in-sine"
          >
            We Are Best In Our <br />
            Classe
          </p>
        </div>
        <p
          class="mb-4"
          data-aos="fade-right"
          data-aos-duration="1400"
          data-aos-easing="ease-in-sine"
        >
          Suspendisse blandit ornare eros vel vehicula. Vestibulum ante ipsum
          primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed
          ullamcorper ex eu lectus viverra efficitur.
        </p>
        <div class="mb-5" data-aos="fade-up" data-aos-duration="1400">
          <div class="number d-flex justify-content-between mt-3">
            <h6>Client Satisfaction</h6>
            <h6>90%</h6>
          </div>
          <div class="ranting1"></div>
        </div>
        <div class="mb-3" data-aos="fade-up" data-aos-duration="1400">
          <div class="number d-flex justify-content-between mt-3">
            <h6>Support Customer</h6>
            <h6>80%</h6>
          </div>
          <div class="ranting2"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 px-lg-3 pt-5">
      <div class="statics-form">
        <div class="mb-5">
          <h2 data-aos="fade-down" data-aos-duration="1000">Get Appointment</h2>
        </div>
        <div class="form">
          <div class="mb-3">
            <label for="fname" class="form-label d-none">Email address</label>
            <input
              type="text"
              class="form-control"
              id="fname"
              placeholder="Full Name"
              data-aos="fade-left"
              data-aos-duration="1100"
              data-aos-easing="ease-in-sine"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label d-none">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email Address"
              data-aos="fade-left"
              data-aos-duration="1200"
              data-aos-easing="ease-in-sine"
            />
          </div>
          <div class="mb-3">
            <label for="phoneNo" class="form-label d-none">Email address</label>
            <input
              type="tel"
              class="form-control"
              id="phoneNo"
              placeholder="Phone No."
              data-aos="fade-left"
              data-aos-duration="1300"
              data-aos-easing="ease-in-sine"
            />
          </div>
          <div class="mb-5">
            <label for="exampleFormControlTextarea1" class="form-label d-none"
              >Example textarea</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              placeholder="Message..."
              data-aos="fade-left"
              data-aos-duration="1400"
              data-aos-easing="ease-in-sine"
            ></textarea>
          </div>
          <div class="mb-3">
            <button
              type="submit"
              class="btn"
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-easing="ease-in-sine"
            >
              submit now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section statics -->
