<!-- section about -->
<section class="about container pt-5">
  <div class="row pt-5">
    <div class="col-lg-6 mb-3">
      <div class="about-box">
        <div class="about-img">
          <img
            src="../../assets/images/about-img-one.png"
            data-aos="fade-up"
            data-aos-duration="1800"
            class="img-fluid"
            alt="about us"
          />
        </div>
        <div class="fitenss" data-aos="fade-up" data-aos-duration="1600">
          <div class="fitenss-img">
            <img
              src="../../assets/images/fitness.png"
              alt="fitenss"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="circle1">
          <img
            src="../../assets/images/about-circle-one.png"
            data-aos="fade-up"
            data-aos-duration="1000"
            class="img-fluid"
            alt="about-circle-one"
          />
        </div>
        <div class="circle2">
          <img
            src="../../assets/images/about-circle-two.png"
            data-aos="fade-up"
            data-aos-duration="1300"
            class="img-fluid"
            alt="about-circle-one"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <div class="about-content pt-4">
        <h2
          class="h2-subtitle text-center mb-3"
          data-aos="fade-down"
          data-aos-duration="1000"
        >
          about us
        </h2>
        <h2 class="h2-title mb-4" data-aos="fade-up" data-aos-duration="1300">
          welcome to our <br />
          fitness gym
        </h2>
        <p data-aos="fade-up" data-aos-duration="1400">
          Nam ut hendrerit leo. Aenean vel ipsum nunc. Curabitur in tellus vitae
          nisi aliquet dapibus non et erat. Pellentesque porta sapien non
          accumsan dignissim curabitur sagittis nulla sit amet dolor feugiat.
        </p>
        <p class="mb-5" data-aos="fade-up" data-aos-duration="1400">
          Integer placerat vitae metus posuere tincidunt. Nullam suscipit ante
          ac aliquet viverra vestibulum ante ipsum primis.
        </p>
        <div class="trainer" data-aos="fade-left" data-aos-duration="1600">
          <div class="d-flex pb-3">
            <div class="flex-shrink-0">
              <img
                src="../../assets/images/about-trainer.jpg"
                class="rounded-circle"
                alt="trainer"
              />
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Denis Robinson</h4>
              <span>Our Coach</span>
            </div>
          </div>
          <div class="about-btn mt-2">
            <button class="btn">explore more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section about -->
