<!-- section pricing -->

<section class="pricing container py-5">
  <div class="pricing-header mb-2 text-center">
    <h2 data-aos="fade-up" data-aos-duration="1000">pricing table</h2>
    <p data-aos="fade-right" data-aos-duration="1200">
      Choose Your Pricing Plan
    </p>
  </div>
  <div class="row justify-content-center">
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-easing="ease-in-sine"
    >
      <div class="pricing-body">
        <div class="standard-paln bg-plan-1 p-4 rounded-3 shadow-lg mb-4">
          <h3 class="ps-3">standard paln</h3>
          <p class="mb-0 ps-3">$35<sub>/Month</sub></p>
        </div>
        <ul class="list-unstyled check-list ms-4">
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Unlimited club access</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Group attendance</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Gym visits</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Visits to the bath complex</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Gym, fight club</p>
            </div>
          </li>
        </ul>
        <div class="btn-join">
          <button class="btn">join now</button>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div class="pricing-body">
        <div class="standard-paln bg-plan-2 p-4 rounded-3 shadow-lg mb-4">
          <h3 class="ps-3">standard paln</h3>
          <p class="mb-0 ps-3">$35<sub>/Month</sub></p>
        </div>
        <ul class="list-unstyled check-list ms-4">
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Unlimited club access</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Group attendance</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Gym visits</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Visits to the bath complex</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Gym, fight club</p>
            </div>
          </li>
        </ul>
        <div class="btn-join">
          <button class="btn">join now</button>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 mb-4"
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-easing="ease-in-sine"
    >
      <div class="pricing-body">
        <div class="standard-paln bg-plan-3 p-4 rounded-3 shadow-lg mb-4">
          <h3 class="ps-3">standard paln</h3>
          <p class="mb-0 ps-3">$35<sub>/Month</sub></p>
        </div>
        <ul class="list-unstyled check-list ms-4">
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Unlimited club access</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Group attendance</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Gym visits</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Visits to the bath complex</p>
            </div>
          </li>
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="../../assets/images/check.png" alt="check" />
              </div>
              <p class="flex-grow-1 ms-2">Gym, fight club</p>
            </div>
          </li>
        </ul>
        <div class="btn-join">
          <button class="btn">join now</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section pricing -->
