@use "../Scss/utils/color" as *;
@use "../Scss/utils/font" as *;
@use "../Scss/components/secHeader" as *;

/* ---------------------------------------------- testimonial ----------------------------------- */

.testimonial {
  .testimonial-header {
    @extend .header-content1;
  }

  .row {
    .card {
      border: 0;
      background-color: $second-color;
      color: $main-color;

      .card-body {
        .brdr {
          padding: 9px;
          border: 2px solid $primary-color;
        }
        h5 {
          text-transform: capitalize;
          font-size: $font-size1 + 4px;
          font-family: $font-family1;
          font-weight: $font-weight2;
        }
        span {
          text-transform: capitalize;
          font-size: $font-size1;
          color: $primary-color;
          font-family: $font-family2;
          font-weight: $font-weight1;
        }
        p {
          color: $testimonial-color;
          font-size: 15px;
          font-family: $font-family2;
          line-height: 27px;
        }

        .star {
          li {
            i {
              color: $star-color;
              font-size: $font-size2;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}

/* ---------------------------------------------- testimonial ----------------------------------- */

@media (max-width: 768px) and (min-width: 576px) {
  /*----------- testimonial ----- */
  .testimonial {
    .testimonial-header {
      p {
        font-size: $font-size2 + 10px !important;
        letter-spacing: 0px !important;
      }
    }
  }
  /*----------- testimonial -------- */
}

@media (max-width: 576px) {
  /*----------- testimonial ----- */
  .testimonial {
    .testimonial-header {
      p {
        font-size: $font-size2 + 10px !important;
        letter-spacing: 0px !important;
      }
    }
  }
  /*----------- testimonial -------- */
}

@media (max-width: 450px) {
  /*----------- testimonial ----- */
  .testimonial {
    .testimonial-header {
      p {
        font-size: $font-size2 !important;
        letter-spacing: 0px !important;
      }
    }
  }
  /*----------- testimonial -------- */
}
