<!-- header classes -->

<header class="head-portfolio">
  <div class="portfolio-overlay d-flex align-items-center text-white">
    <div class="container portfolio-body pt-5">
      <h1 class="mt-5" data-aos="fade-up" data-aos-duration="1000">
        portfolio
      </h1>
      <ul
        class="list-unstyled d-flex justify-content-center"
        data-aos="fade-up-right"
        data-aos-duration="1200"
      >
        <li>
          <a routerLink="/home">home</a>
        </li>
        <li>
          <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li>portfolio</li>
      </ul>
    </div>
  </div>
</header>

<!-- header classes -->

<!-- section portfolio -->

<section class="portfolios container py-5">
  <div class="row pt-5 mb-4">
    <div class="col-md-12">
      <div class="portfolio-nav">
        <ul class="list-unstyled">
          <li>
            <button (click)="alls()" class="active btn-nav">All</button>
          </li>

          <li>
            <button (click)="weightL()" class="btn-nav">Weight Loss</button>
          </li>

          <li>
            <button (click)="power()" class="btn-nav">Power Yoga</button>
          </li>

          <li>
            <button (click)="weightG()" class="btn-nav">Weight Gain</button>
          </li>

          <li>
            <button (click)="boxings()" class="btn-nav">Boxing</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <section
    #all
    class="row justify-content-center all mb-5"
    data-aos-duration="1000"
    data-aos="zoom-in-down"
  >
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img1.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Couple Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img2.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Couple Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img3.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Cardio Workout</h3>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img4.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img5.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Couple Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img6.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Cardio Workout</h3>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img7.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img8.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Couple Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img9.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Cardio Workout</h3>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section
    #weightLoss
    class="row justify-content-center weight-loss mb-5"
    data-aos-duration="1000"
    data-aos="zoom-in-down"
  >
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img1.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Couple Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img5.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Couple Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img9.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Cardio Workout</h3>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section
    #powerYoga
    class="row mb-5 power-yoga"
    data-aos-duration="1000"
    data-aos="zoom-in-down"
  >
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img2.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Couple Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img6.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Cardio Workout</h3>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section
    #weightGain
    class="row mb-5 weight-gain"
    data-aos-duration="1000"
    data-aos="zoom-in-down"
  >
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img3.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Cardio Workout</h3>
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img7.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section
    #boxing
    class="row mb-5 boxing"
    data-aos-duration="1000"
    data-aos="zoom-in-down"
  >
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img4.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="portfolio">
        <img
          src="../../assets/images/portfolio-img8.jpg"
          class="img-fluid"
          alt="portfolio"
        />
        <div class="portfolio-body">
          <p>Weight Loss Program</p>
          <button>
            <h3>Couple Fitness Workout</h3>
          </button>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- section portfolio -->

<!-- section dwonload app -->

<app-mobileapp></app-mobileapp>

<!-- section dwonload app -->

<!-- section statics -->

<section class="statics container py-5">
  <div class="row pb-5">
    <div class="col-lg-6 pt-5">
      <div class="statics-body pt-5">
        <div class="body-head pt-5">
          <h2 data-aos="fade-up" data-aos-duration="1000">our statics</h2>
          <p
            data-aos="fade-right"
            data-aos-duration="1200"
            data-aos-easing="ease-in-sine"
          >
            We Are Best In Our <br />
            Classe
          </p>
        </div>
        <p
          class="mb-4"
          data-aos="fade-right"
          data-aos-duration="1400"
          data-aos-easing="ease-in-sine"
        >
          Suspendisse blandit ornare eros vel vehicula. Vestibulum ante ipsum
          primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed
          ullamcorper ex eu lectus viverra efficitur.
        </p>
        <div class="mb-5" data-aos="fade-up" data-aos-duration="1400">
          <div class="number d-flex justify-content-between mt-3">
            <h6>Client Satisfaction</h6>
            <h6>90%</h6>
          </div>
          <div class="ranting1"></div>
        </div>
        <div class="mb-3" data-aos="fade-up" data-aos-duration="1400">
          <div class="number d-flex justify-content-between mt-3">
            <h6>Support Customer</h6>
            <h6>80%</h6>
          </div>
          <div class="ranting2"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 px-lg-3 pt-5">
      <div class="statics-form">
        <div class="mb-5">
          <h2 data-aos="fade-down" data-aos-duration="1000">Get Appointment</h2>
        </div>
        <div class="form">
          <div class="mb-3">
            <label for="fname" class="form-label d-none">Email address</label>
            <input
              type="text"
              class="form-control"
              id="fname"
              placeholder="Full Name"
              data-aos="fade-left"
              data-aos-duration="1100"
              data-aos-easing="ease-in-sine"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label d-none">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email Address"
              data-aos="fade-left"
              data-aos-duration="1200"
              data-aos-easing="ease-in-sine"
            />
          </div>
          <div class="mb-3">
            <label for="phoneNo" class="form-label d-none">Email address</label>
            <input
              type="tel"
              class="form-control"
              id="phoneNo"
              placeholder="Phone No."
              data-aos="fade-left"
              data-aos-duration="1300"
              data-aos-easing="ease-in-sine"
            />
          </div>
          <div class="mb-5">
            <label for="exampleFormControlTextarea1" class="form-label d-none"
              >Example textarea</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              placeholder="Message..."
              data-aos="fade-left"
              data-aos-duration="1400"
              data-aos-easing="ease-in-sine"
            ></textarea>
          </div>
          <div class="mb-3">
            <button
              type="submit"
              class="btn"
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-easing="ease-in-sine"
            >
              submit now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section statics -->
