<!-- header classes -->

<header class="head-classes">
  <div class="about-overlay d-flex align-items-center text-white">
    <div class="container classes-body pt-5">
      <h1 class="mt-5" data-aos="fade-up" data-aos-duration="1000">
        our classes
      </h1>
      <ul
        class="list-unstyled d-flex justify-content-center"
        data-aos="fade-up-right"
        data-aos-duration="1200"
      >
        <li>
          <a routerLink="/home">home</a>
        </li>
        <li>
          <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li>classes</li>
      </ul>
    </div>
  </div>
</header>

<!-- header classes -->

<!-- section our classes -->

<section class="container main-classes py-5">
  <div class="row">
    <div
      class="col-lg-4 mb-4"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-easing="ease-in-sine"
    >
      <div class="card shadow">
        <img
          src="../../assets/images/class-img1.jpg"
          class="img-fluid popup rounded-top"
          alt="Class"
        />
        <div class="card-content">
          <div class="d-flex p-4">
            <div class="flex-shrink-0 pt-2">
              <img
                src="../../assets/images/class-icon1.png"
                alt="icon-woaman"
                class="img-icon"
              />
            </div>
            <div class="flex-grow-1 ms-4 pt-2">
              <h3>
                weight lefting <br />
                classes
              </h3>
            </div>
          </div>
          <p>
            Suspendisse nisi libero, cursus ac magna sit amet, fermentum
            imperdiet nisi.
          </p>
          <div class="number d-flex justify-content-between px-4">
            <h6>class full</h6>
            <h6>70%</h6>
          </div>
          <div class="ranting1"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
      <div class="card shadow">
        <img
          src="../../assets/images/class-img2.jpg"
          class="img-fluid popup rounded-top"
          alt="Class"
        />
        <div class="card-content">
          <div class="d-flex p-4">
            <div class="flex-shrink-0 pt-2">
              <img
                src="../../assets/images/class-icon2.png"
                alt="icon-woaman"
                class="img-icon"
              />
            </div>
            <div class="flex-grow-1 ms-4 pt-2">
              <h3>
                cardio & strenght <br />
                classes
              </h3>
            </div>
          </div>
          <p>
            Suspendisse nisi libero, cursus ac magna sit amet, fermentum
            imperdiet nisi.
          </p>
          <div class="number d-flex justify-content-between px-4">
            <h6>class full</h6>
            <h6>90%</h6>
          </div>
          <div class="ranting2"></div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 mb-4"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-easing="ease-in-sine"
    >
      <div class="card shadow">
        <img
          src="../../assets/images/class-img3.jpg"
          class="img-fluid popup rounded-top"
          alt="Class"
        />
        <div class="card-content">
          <div class="d-flex p-4">
            <div class="flex-shrink-0 pt-2">
              <img
                src="../../assets/images/class-icon3.png"
                alt="icon-woaman"
                class="img-icon"
              />
            </div>
            <div class="flex-grow-1 ms-4 pt-2">
              <h3>
                power yoga <br />
                classes
              </h3>
            </div>
          </div>
          <p>
            Suspendisse nisi libero, cursus ac magna sit amet, fermentum
            imperdiet nisi.
          </p>
          <div class="number d-flex justify-content-between px-4">
            <h6>class full</h6>
            <h6>60%</h6>
          </div>
          <div class="ranting3"></div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 mb-4"
      data-aos="fade-right"
      data-aos-duration="1200"
      data-aos-easing="ease-in-sine"
    >
      <div class="card shadow">
        <img
          src="../../assets/images/class-img4.jpg"
          class="img-fluid popup rounded-top"
          alt="Class"
        />
        <div class="card-content">
          <div class="d-flex p-4">
            <div class="flex-shrink-0 pt-2">
              <img
                src="../../assets/images/class-icon4.png"
                alt="icon-woaman"
                class="img-icon"
              />
            </div>
            <div class="flex-grow-1 ms-4 pt-2">
              <h3>
                power yoga <br />
                classes
              </h3>
            </div>
          </div>
          <p>
            Suspendisse nisi libero, cursus ac magna sit amet, fermentum
            imperdiet nisi.
          </p>
          <div class="number d-flex justify-content-between px-4">
            <h6>class full</h6>
            <h6>85%</h6>
          </div>
          <div class="ranting4"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1200">
      <div class="card shadow">
        <img
          src="../../assets/images/class-img5.jpg"
          class="img-fluid popup rounded-top"
          alt="Class"
        />
        <div class="card-content">
          <div class="d-flex p-4">
            <div class="flex-shrink-0 pt-2">
              <img
                src="../../assets/images/class-icon5.png"
                alt="icon-woaman"
                class="img-icon"
              />
            </div>
            <div class="flex-grow-1 ms-4 pt-2">
              <h3>
                Boxing & Martial <br />
                Arts Classes
              </h3>
            </div>
          </div>
          <p>
            Suspendisse nisi libero, cursus ac magna sit amet, fermentum
            imperdiet nisi.
          </p>
          <div class="number d-flex justify-content-between px-4">
            <h6>class full</h6>
            <h6>85%</h6>
          </div>
          <div class="ranting5"></div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 mb-4"
      data-aos="fade-left"
      data-aos-duration="1200"
      data-aos-easing="ease-in-sine"
    >
      <div class="card shadow">
        <img
          src="../../assets/images/class-img6.jpg"
          class="img-fluid popup rounded-top"
          alt="Class"
        />
        <div class="card-content">
          <div class="d-flex p-4">
            <div class="flex-shrink-0 pt-2">
              <img
                src="../../assets/images/class-icon6.png"
                alt="icon-woaman"
                class="img-icon"
              />
            </div>
            <div class="flex-grow-1 ms-4 pt-2">
              <h3>
                Free Dancing <br />
                classes
              </h3>
            </div>
          </div>
          <p>
            Suspendisse nisi libero, cursus ac magna sit amet, fermentum
            imperdiet nisi.
          </p>
          <div class="number d-flex justify-content-between px-4">
            <h6>class full</h6>
            <h6>85%</h6>
          </div>
          <div class="ranting6"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section our classes -->

<!-- section counter -->

<app-counter></app-counter>

<!-- section counter -->

<!-- section trainer -->

<app-subtrainers></app-subtrainers>

<!-- section trainer -->

<!-- section pricing -->

<app-pricing></app-pricing>

<!-- section pricing -->

<!-- section main portfolio -->

<app-portfolio></app-portfolio>

<!-- section main portfolio -->

<!-- section testimonial -->

<app-testimonials></app-testimonials>

<!-- section testimonial -->
